<footer class="bg-dark text-light pt-4 pb-4">
  <div class="container text-md-left">
    <div class="row text-md-left">

      <!-- Company Info -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> About US </h5>
        <p> Need more help? </p>
        <p> Visit the official IMDb support community powered by Sprinklr. </p>
      </div>

      <!-- Explore -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Explore</h5>
        <p><a href="#" class="text-light" style="text-decoration: none">Home</a></p>
        <p><a href="#" class="text-light" style="text-decoration: none">Services</a></p>
        <p><a href="#" class="text-light" style="text-decoration: none">Advertising</a></p>
        <p><a href="#" class="text-light" style="text-decoration: none">Privacy Policy</a></p>
      </div>

      <!-- Links -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p><i class="fas fa-home mr-3"></i> Seattle, United States</p>
        <p><i class="fas fa-envelope me-2"></i>IMDb.com
          <a href="https://www.imdb.com" class="text-light" style="text-decoration: none;"></a>
        </p>
      </div>

      <!-- Social -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Follow IMDb on social</h5>
        <a href="https://web.facebook.com/imdb" 
          class="btn btn-dark rounded-circle m-1 d-inline-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px;">
          <i class="fab fa-facebook-f "></i>
        </a>
        <a href="https://www.instagram.com/imdb" 
          class="btn btn-dark rounded-circle m-1 d-inline-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px;">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://youtube.com/imdb/" 
          class="btn btn-dark rounded-circle m-1 d-inline-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px;">
          <i class="fab fa-youtube fa-lg"></i>
        </a>
        <a href="https://twitter.com/imdb" 
          class="btn btn-dark rounded-circle m-1 d-inline-flex align-items-center justify-content-center"
            style="width: 40px; height: 40px;">
          <i class="fab fa-x-twitter fa-lg"></i>
        </a>
        <a href="https://www.tiktok.com/@imdb" 
          class="btn btn-dark rounded-circle m-1 d-inline-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px;">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>

    </div>
  <hr class="mb-4">
      <div class="text-center amazon-logo mb-2">
        <img src="https://freelogopng.com/images/all_img/1688364329amazon-logo-png-white.png" alt="Amazon Logo"
          style="height: 20px;">
      </div>
      <div class="text-center">
        <p>© 1990–2025 by IMDb.com, Inc.</p>
      </div>
  </div>
</footer>