<!-- Wrapper to center and limit width -->
<div class="container my-4">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://scontent.fpnh11-2.fna.fbcdn.net/v/t39.30808-6/511890860_10163830018993949_5236225922821262050_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFG_vzXtzYEQauHSLjiABpUVxo7UBNTdA5XGjtQE1N0Dsbx7V4P5LJt0pD1n4b1upwAFJ6MBZO9yf_FqM3Rhncp&_nc_ohc=vtNaZ2CKriwQ7kNvwH-abZS&_nc_oc=Adk3nLL04b5sa1EauaZwa3FeRtsbGaSxhcdVVMt8QYn2phdbMvCgoeh0WzSwDNuHRv0&_nc_zt=23&_nc_ht=scontent.fpnh11-2.fna&_nc_gid=EC-YlXyhH4M5wyDh4xdKbw&oh=00_AfPQNOhmpTsjvMG6eANsV2NCvYfWxxFDQMwGELuKPwIIsw&oe=6867BD20"
          class="d-block mx-auto"
          style="width: 100%; height: 500px; object-fit: cover;"
          alt="1st Slide"/>
      </div>
      <div class="carousel-item">
        <img
          src="https://scontent.fpnh11-2.fna.fbcdn.net/v/t39.30808-6/510952071_10163837277188949_3469219740291216223_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEat8WWmt0wIzMh4IDehxRNdBIqMbaCbX10EioxtoJtfZafxqyLtdRwN4q45PsfszFb7zvxUtX9sidvYe71EZOI&_nc_ohc=A69KC1ChF9IQ7kNvwGAN5b6&_nc_oc=Adl5a0bbLT6QJB5tFue3XL_sq5rPPurRNpyrDAh9OAO_cII9t2oPUDV7w7imGVTMChs&_nc_zt=23&_nc_ht=scontent.fpnh11-2.fna&_nc_gid=ebdw8GLeop0W0ViTMNBanQ&oh=00_AfNCjojSOMPUhv6RVhT9JqGx-ABoubc4HVbJDYDUSLBXDA&oe=6867C7D0"
          class="d-block mx-auto"
          style="width: 100%; height: 500px; object-fit: cover;"
          alt="2nd Slide"/>
      </div>
      <div class="carousel-item">
        <img
          src="https://scontent.fpnh11-2.fna.fbcdn.net/v/t39.30808-6/510511632_10163828606728949_4178481994220367064_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeE6hQDfatv1vAKvCwQDC9KMCsYqP-lEdD0Kxio_6UR0PXV_fPzh2KUSDe8qfpKKbLj4uyzrGzWZ-VTWT-HGYc20&_nc_ohc=TbPBIMXCA_wQ7kNvwFpcNnw&_nc_oc=AdlpmOeH3IqXxY6ZG11d-3LaWez5dDJtpgvOWVjXdx2j3NXVKqfgvXDR-K6ieQqtwF8&_nc_zt=23&_nc_ht=scontent.fpnh11-2.fna&_nc_gid=_zvauQUJNP9n7joaLvpBmQ&oh=00_AfMFo5pRvIbbhtMMExeoeuj3BM3Tv4pWZ2HG-efUDLT3aA&oe=6867C254"
          class="d-block mx-auto"
          style="width: 100%; height: 500px; object-fit: cover;"
          alt="3rd Slide"/>
      </div>
      <div class="carousel-item">
        <img
          src="https://scontent.fpnh11-2.fna.fbcdn.net/v/t39.30808-6/511318528_10163844485783949_6020277097682382989_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeEcIA2mNgkI3peJ9Wb90rJdp4rTSSVEimGnitNJJUSKYWm4MKTGVqVYY9gbdfochNVmowm2MZvaipkXNk5jSPxW&_nc_ohc=SfWtecnEB60Q7kNvwE89dzA&_nc_oc=AdmPCCCbHszn7tJ_RwENiK_JkG6q5W0SUoUK-3QwGdjuzvmlt-mgXWs9y68FScKTZw4&_nc_zt=23&_nc_ht=scontent.fpnh11-2.fna&_nc_gid=ucLZezA1Evl6tSoog_pDWg&oh=00_AfPAKBAdEhHHFZ7Uzbpkqgt8KLWA7Fmv1K20y3MugQ5VIg&oe=6867A7AB"
          class="d-block mx-auto"
          style="width: 100%; height: 500px; object-fit: cover;"
          alt="4th Slide"/>
      </div>
    </div>

    <!-- Previous button -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <!-- Next button -->
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>